*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#react-root {
  height: 100%;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  html {
    display: flex;
    flex-direction: column;
  }
}

:focus {
  outline: none;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

input, textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

::placeholder {
  color: unset;
}
